header {
border: 1px solid red;
  grid-column: span 12;
}

nav {
  grid-column: span 3;
  border: 1px solid red;
}

body {
  background-color: #999999;
}

#wrapper {
  margin: 1em auto;
  padding: 1em;
  width: 960px;
  border: 1px solid #ff0000;
  background-color: #ffffff;
  /*display: grid;*/
  grid-template-columns: repeat (12. 1fr);
  /*grid-template-rows: 100px auto 75px;*/
}

.floatimage {
  width: 200px;
  float: left;
  margin: 0 20px 20px 0;
  margin-top: 0px;
}

.p1, .p2 {
  text-align: center;
}

.p3, .p4 {
  clear: both;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  width: 200px;
}

nav li a {
  display: block;
  background-color: red;
  border: 1px solid black;
  padding: 1em;
  color: white;
  text-decoration: none;
}

main {
  grid-column: span 12;
  border: 1px solid red;
  padding: 5px;
}

aside {
  grid-column: span 9;
  border: 1px solid red;
}

footer {
  text-align: center;
  grid-column: span 12;
  border: 1px solid red;
}
