body {
  background-image: url(a5bg.png);
  background-repeat: repeat;
  background-position: top left;
  background-color: white;
}
.whitebox {
  background-color: white;
  margin-bottom: 30px;
  padding: 30px;
}
nav li {
  border: 1px solid black;
  padding: 0px;
  margin-right: 10px;
  width: 200px;
  display: inline-block;
}
nav li a {
  background-color: blue;
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}
nav li a:hover {
  background-color: darkblue;
}
h1 {
  background-color: white;
  font-family: helvetica;
  font-weight: normal;
  padding: 30px;
}
h2 {
  font-family: helvetica;
  border-bottom: 5px solid black;
  padding-bottom: 10px;
}
p {
  text-align: justify;
}
.plink:link {
  text-decoration: none;
}
.plink:hover {
  color: red;
  text-decoration: underline;
}
footer {
  color: white;
  background-color: darkblue;
  padding: 30px;
  font-family: Verdana;
  font-weight: bold;
  border: 1px solid white;
}
footer p {
  text-align: center;
  font-style: italic;
}
